
<h1><a href="http://melindahiggins2000.github.io/web2">Melinda Higgins, Ph.D.</a></a>
</h1>
<div id="nav">
	<ul>
		<li><a href="{{ site.url }}/research" class="{% if page.url contains 'research' %}current{% endif %}">Research</a></li>
		<li><a href="{{ site.url }}/teaching" class="{% if page.url contains 'teaching' %}current{% endif %}">Teaching</a></li>
		<li><a href="{{ site.url }}/code" class="{% if page.url contains 'code' %}current{% endif %}">Code</a></li>
		<li><a href="{{ site.url }}/blog" class="{% if page.url contains 'blog' %}current{% endif %}">Blog</a></li>		
		<li><a href="{{ site.url }}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
		<li><a class="a2" href="https://github.com/melindahiggins2000" target="_blank"><i class="fa fa-github-square fa-1x"></i></a>
        <a class="a2" href="https://twitter.com/mhiggins2000/" target="_blank"><i class="fa fa-twitter-square fa-1x"></i></a>
        <a class="a2" href="mailto:melinda.higgins@emory.edu" target="_blank"><i class="fa fa-envelope-square fa-1x"></i></a>
        <a class="a2" href="https://scholar.google.com/citations?user=-4aU-VkAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square ai-1x"></i></a></li>
	</ul>
</div>