
<h1><a href="http://melindahiggins2000.github.io/web2">Melinda Higgins, Ph.D.</a></a>
</h1>
<div id="nav">
	<ul>
		<li><a href="{{ site.url }}/research" class="{% if page.url contains 'research' %}current{% endif %}">Research</a></li>
		<li><a href="{{ site.url }}/teaching" class="{% if page.url contains 'teaching' %}current{% endif %}">Teaching</a></li>
		<li><a href="{{ site.url }}/code" class="{% if page.url contains 'code' %}current{% endif %}">Code</a></li>
		<li><a href="{{ site.url }}/blog" class="{% if page.url contains 'blog' %}current{% endif %}">Blog</a></li>		
		<li><a href="{{ site.url }}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
	</ul>
<hr/>
</div>