<nav>
	<ul>
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/about.html">About</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/introduction.html">Introduction</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/basics.html">Basics</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/methods.html">Methods</a></li>		
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/analysis.html">Analysis</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/multiblock/references.html">References</a></li>
	</ul>
</nav>
